{{#NonTypeValue}}{{NonTypeValue}}{{/NonTypeValue}}{{^NonTypeValue}}{{#Qualifiers}}{{Qualifiers}} {{/Qualifiers}}{{QualName}}{{#HasTemplateArgs}}<{{#TemplateArgs}}{{>TypeName}}{{^End}}, {{/End}}{{/TemplateArgs}}>{{/HasTemplateArgs}}{{Suffix}}{{/NonTypeValue}}