<div id="{{USR}}" class="delimiter-container">
    {{#Template}}
    <pre><code class="language-cpp code-clang-doc cd-sig"><span class="k">template</span> &lt;{{#Parameters}}{{Param}}{{^End}}, {{/End}}{{/Parameters}}&gt;</code></pre>
    {{/Template}}
    <pre><code class="language-cpp code-clang-doc cd-sig"><span class="k">{{#IsUsing}}using{{/IsUsing}}{{^IsUsing}}typedef{{/IsUsing}}</span> <span class="nc">{{Name}}</span>{{#IsUsing}} ={{/IsUsing}}{{#Underlying}} <span class="nc">{{Name}}</span>{{/Underlying}}</code></pre>
    {{#Description}}
    {{>Comments}}
    {{/Description}}
    {{#Location}}
    {{>LocationPartial}}
    {{/Location}}
</div>
