{{! 
    Part of the LLVM Project, under the Apache License v2.0 with LLVM Exceptions.
    See https://llvm.org/LICENSE.txt for license information.
    SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

    This file defines the template for functions/methods
}}
<div id="{{USR}}" class="delimiter-container">
        {{#Template}}
        <pre><code class="language-cpp code-clang-doc cd-sig"><span class="k">template</span> &lt;{{^VerticalDisplay}}{{#Parameters}}{{Param}}{{^End}}, {{/End}}{{/Parameters}}{{/VerticalDisplay}}</code>{{#VerticalDisplay}}<span class="param-container">{{#Parameters}}<span class="param"><code class="language-cpp code-clang-doc cd-sig">{{Param}}{{^End}}, {{/End}}</code></span>{{/Parameters}}</span>{{/VerticalDisplay}}<code class="language-cpp code-clang-doc cd-sig">&gt;</code></pre>
        {{/Template}}
        {{! Function Prototype }}
        <pre><code class="language-cpp code-clang-doc cd-sig">{{#ReturnType}}{{>TypeLink}}{{/ReturnType}} <span class="nf">{{Name}}</span>{{#Template}}{{#Specialization}}&lt;{{#Parameters}}{{Param}}{{^SpecParamEnd}}, {{/SpecParamEnd}}{{/Parameters}}&gt;{{/Specialization}}{{/Template}} ({{^VerticalDisplay}}{{#Params}}{{#Type}}{{>TypeLink}}{{/Type}} <span class="n">{{Name}}</span>{{^ParamEnd}}, {{/ParamEnd}}{{/Params}}){{/VerticalDisplay}}</code>{{#VerticalDisplay}}<span class="param-container">{{#Params}}<span class="param"><code class="language-cpp code-clang-doc cd-sig">{{#Type}}{{>TypeLink}}{{/Type}}</code> <code class="language-cpp code-clang-doc cd-sig"><span class="n">{{Name}}</span>{{^ParamEnd}}, {{/ParamEnd}}</code></span>{{/Params}}</span><code class="language-cpp code-clang-doc cd-sig">)</code>{{/VerticalDisplay}}</pre>
        {{! Function Comments }}
        {{#Description}}
        <div class="doc-card">
            {{>Comments}}
        </div>
        {{/Description}}
        {{#Location}}
        {{>LocationPartial}}
        {{/Location}}
</div>
